<%= form_for :components, :remote => true , :url => {:controller => :components, :action => :create} do |f| %>
    <p>
      <%= f.text_field :name, :value => '' %>
    </p>
    <%= f.hidden_field :project_id, :value => @project.id %>
    <p>
      <%= f.submit 'Add component', :class => 'btn btn-inverse'%>
    </p>
<% end %>