<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :first_name %>
      <%= f.text_field :fname %></div>

    <div><%= f.label :last_name %>
      <%= f.text_field :lname %></div>

    <div><%= f.label :login %>
      <%= f.text_field :login %></div>

    <div><%= f.label :email %>
      <%= f.email_field :email %></div>

    <div><%= f.label :password %>
      <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %></div>

    <div><%= f.label :avatar %>
      <%= f.file_field :avatar %>></div>

    <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
