<div id="c<%= comment.id %>">
  <div class='well well-small'>
    <div class='row-fluid'>
      <div class='span4 user'><%= comment.user.login %></div>
      <div class='date'><%= comment.created_at %></div>
    </div>
    <div class='row-fluid message'>
      <p><%= comment.message %></p>
    </div>
    <div class='row-fluid'>
      <div class='pull-right'><%= link_to 'Delete', {:controller => :comments, :action => :delete, :id => comment.id}, :remote => true %></div>
    </div>
  </div>
</div>