<h3>Updated by <%= first_state.author.login %></br></h3><div class="pull-right"><%= first_state.created_at %></div>
  <% if (first_state.status != last_state.status) %>
      <p><b>status</b> changed from <i><%= first_state.status %></i> to <i><%= last_state.status %></i></p>
  <% end %>
  <% if (first_state.done != last_state.done) %>
      <p><b>done</b> changed from <i><%= first_state.done %></i>% to <i><%= last_state.done %></i>%</p>
  <% end %>
  <% if(first_state.priority != last_state.priority) %>
      <p><b>priority</b> changed from <i><%= first_state.priority %></i> to <i><%= last_state.priority %></i></p>
  <% end %>
  <% if(first_state.assignee.id != last_state.assignee.id) %>
      <p><b>assignee</b> changed from <i><%= first_state.assignee.login %></i> to <i><%= last_state.assignee.login %></i></p>
  <% end %>
  <% if(!first_state.message.empty?) %>
      <p><b>message:</b> <%= first_state.message %></p>
  <% end %>
