<tr id="u<%= UserProject.where(:user_id => edit_user.id, :project_id => @project.id).first.id%>">
  <td><%= link_to edit_user.login, :controller => :users, :action => :show, :id => edit_user.id%></td>
  <td><%= edit_user.fname %></td>
  <td><%= edit_user.lname %></td>
  <td><%= edit_user.user_projects.where(:project_id => project.id).first.role.to_s %></td>
  <% if can? :manage, @project %>
    <td><%= link_to 'Delete from project', {:controller => :user_projects, :action => :delete, :uid => edit_user.id, :pid => project.id}, :remote => true, :method => :delete %></td>
  <% end %>
</tr>