<%= link_to "Bugtracker", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
      <li>
        <%= link_to 'My projects', projects_url %>
      </li>
      <li>
        <%= link_to 'New project', new_project_url %>
      </li>
      <li>
        <%= link_to current_user.login, user_url(current_user) %>
      </li>
      <li>
        <%= image_tag current_user.avatar.url(:small) %>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Account
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
          </li>
          <li>
            <%= link_to('Edit account', edit_user_registration_path) %>
          </li>
        </ul>
      </li>
  <% else %>
      <li>
        <%= link_to('Login', new_user_session_path)  %>
      </li>
      <li>
        <%= link_to('Sign up', new_user_registration_path)  %>
      </li>
  <% end %>
</ul>
