<!DOCTYPE html>
<html>
<head>
  <title>RorBugtracker</title>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= yield(:head) %><meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :defaults%>
  <%= javascript_include_tag "autocomplete-rails.js"%>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>

</head>
<body>
<header class="navbar">
  <nav class="navbar-inner">
    <div class="container">
      <%= render 'layouts/navigation' %>
    </div>
  </nav>
</header>

<%= yield %>

</body>
</html>
